* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  border-bottom: 1px solid;

  margin-bottom: 10px;
}

header > a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

header > a:hover {
  color: rgba(38, 38, 38, 0.7);
}


main {
  width: 80%;
  height: calc(100vh - 58px);

  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}


input {
  height: 30px;
  width: 300px;

  font-size: 24px;
}

label {
  font-size: 22px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > * + *{
  margin-bottom: 8px;
}



.logout {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  color: #000;

  font-family: "Liberation Serif";
}

.logout:hover {
  color: rgba(38, 38, 38, 0.7);
}

.btn {
  cursor: pointer;
}

.btn-error {
  min-height: 30px;
  min-width: 30px;

  border: 1px red solid;
  border-radius: 10%;

  background: red;
  color: black;
}

.btn-success {
  margin: auto;
  background: #04bd04;

  padding: 5px;

  border: 1px solid black;

  font-size: 25px;

}

.btn-success:hover {
  background: rgb(1, 150, 1);
}

.error {
  color: red;
}


.list {
  display: flex;
  flex-direction: column;
}


.list-item {
  font-size: 22px;
  margin-bottom: 8px;
}

.list-item > a {
  text-decoration: none;
  color: #2922e7;
}

.list-item > a:hover {
  color: #0b076b;
}

.btn-alert {
  font-size: 25px;
  background: #b20202;
  padding: 5px;
  border: 1px solid black;
}

.item {
  margin: 8px;
}
